
.graph {
    width: 90vw;
    max-width: 1000px;
    height: 50vh;
    background-color: #fff;
    border: thin solid var(--common-border-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
    
            .did {
                color: var(--foreground-secondary);
                font-size: 0.65rem;
            }
        }

        .numberType {
            padding: 0.2rem 0.5rem;
            border-radius: 1rem;
            background-color: #ADD8E6;
        }
    
        .stringType {
            padding: 0.2rem 0.5rem;
            border-radius: 1rem;
            background-color: #90ee90;
        }
    }

    .diagram {
        flex: 1;
        width: 100%;
        background-color: grey;
    }

    .addForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .addButton {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            padding: 0.25rem;
            border: 1px solid rgb(137, 151, 155);
            border-radius: 100px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}