:root {
  --max-width: 1100px;
  --background-start: #ffffff;
  --background-end: #dfdfdf;
  --foreground: #131313;
  --foreground-secondary: #747474;
  --accent: #c8e1cc;

  /* Values shared in multiple places inside one or more components */
  --dashboard-cell-size: 10rem; 
  --dashboard-cell-background: #fff;
  --dashboard-cell-border-radius: 5px;
  --common-border-color: #c3c3c3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(var(--background-start), var(--background-end));
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgb(137, 151, 155);
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: rgb(33, 49, 60);
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
  :hover{
      box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
  }
}
